{% import "navbar.html" as navbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>pyroll.org - {% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body class="bg-body">
    {{ navbar::render() }}
    <div id="content" class="bg-dark pt-5 pb-5 border-bottom border-top border-primary border-5">
        <div class="container-md">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <div id="footer" class="container-sm text-center mt-3 fw-light text-light">
        {% block footer %}
        footer text
        {% endblock footer %}
    </div>
</body>
</html>